.img-fluid {
    max-height: 150px;
    width: auto;
}

.images {
    text-align: center;
    margin-top: 20px;
}

.toTop {
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
}