<div class="container-fluid">
  <div class="card-wrapper row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <mat-card>
        <mat-card-title class="col-sm-12">
          <h3>Post a Tutorial</h3>
        </mat-card-title>
        <mat-card-content class="col-sm-12">
          <form [formGroup]="postForm" (ngSubmit)="addPost(postForm.value)">

            <div class="row">
              <mat-form-field class="col-sm-12">
                <input matInput placeholder="Title of Tutorial" type="text" name="title" formControlName="title"
                  [errorStateMatcher]="matcher">
                <mat-error align="end" *ngIf="!postForm.controls['title'].valid && postForm.controls['title'].touched">
                  You must specify a title that's between 15 and 70 characters long.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="col-sm-12">
                <textarea matInput placeholder="Description of Tutorial" name="description" id="description"
                  formControlName="description" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5></textarea>
                <mat-error align="end" *ngIf="!postForm.controls['description'].valid && postForm.controls['description'].touched">
                  You must specify a description that's between 50 and 500 characters long.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="col-sm-12">
                <input matInput placeholder="Image of Tutorial" type="text" name="image" id="image" formControlName="image">
                <mat-hint align="end">Image source.</mat-hint>
                <mat-error align="end" *ngIf="!postForm.controls['image'].valid && postForm.controls['image'].touched">
                  You must add image.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="row">
              <div class="d-flex col-sm-12">
                <h4 class="sub-title">Steps</h4>
                <button type="button" mat-icon-button color="primary" class="mat-button" (click)="addStep()">
                  <mat-icon>add_box</mat-icon>
                </button>
              </div>
            </div>

            <div formArrayName="steps">
              <div *ngFor="let step of postForm.controls['steps'].controls; let i = index">
                <div class="step-box" formGroupName="{{i}}">
                  <mat-card-subtitle>Step {{i+1}}</mat-card-subtitle>

                  <div class="row">
                    <mat-form-field class="col-sm-12">
                      <input matInput placeholder="Step title" type="text" name="head" formControlName="head">
                    </mat-form-field>
                  </div>

                  <div class="row">
                    <mat-form-field class="col-sm-12">
                      <textarea matInput placeholder="Step description" name="body" id="body" formControlName="body"
                        matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5></textarea>
                    </mat-form-field>
                  </div>

                  <div class="row">
                    <div class="d-flex col-sm-12">
                      <h4 class="sub-title">Images</h4>
                      <button type="button" mat-icon-button color="primary" class="mat-button" (click)="addImage(i)">
                        <mat-icon>add_box</mat-icon>
                      </button>
                    </div>
                  </div>

                  <div class="img-group" formArrayName="img">
                    <div *ngFor="let image of step.controls['img'].controls; let j = index">
                      <div class="image-box row" formGroupName="{{j}}">
                        <mat-form-field class="col-sm-12">
                          <input matInput placeholder="Place image source" type="text" formControlName="src">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <button type="button" mat-raised-button color="primary" class="mat-button" (click)="addStep()">
                    Add Step
                  </button>
                </div>
              </div>
            </div>

            <mat-card-actions class="row">
              <button type="submit" mat-raised-button color="accent" class="mat-button" [disabled]="!postForm.valid">
                Add Post
              </button>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
